<div class="footer">
    <div class="inner-wrapper">
        <p>Developed with &hearts; by <a href="https://ptmartins.github.io/"> Pedro Martins </a> </p>
    </div>
</div>

<style lang="less">

    .footer {
        padding-block: 1.5rem;

        .inner-wrapper {
            text-align: center;
        }
    }

</style>